{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'generator/css/styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero-section">
      <div class="top-nav">
        <a class="active" href="{% url 'generator:index' %}">Jenga QR</a>
        <a class="how-it-works" href="#about">How It Works</a>
      </div>

      <div class="hero-text-container">
        <div class="form-group">
          <form action="">
            <input
              type="text"
              id="username"
              name="username"
              placeholder="Enter your text to generate a QR Code"
            />
            <input class="form-submit" type="submit" value="GENERATE" />
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
