{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'generator/css/styles.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <div class="hero-section">
      <div class="top-nav">
        <a class="active" href="#home">Jenga QR</a>
        <a class="how-it-works" href="#about">How It Works</a>
      </div>

      <div class="hero-text-container">
        <h1 class="hero-text">GENERATE QR CODE</h1>
      </div>
    </div>
  </body>
</html>
